header, body, footer, h1, h2, h3, h4, h5, ul {
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --lp-black: #222224;
    --lp-border: #DFDFDF;
    --lp-dark-blue-2: #002E88;
    --lp-error: #F44336;
    --lp-fixel-blue-dark: #2587CA;
    --lp-fixel-blue-dark-2: #2E7CB3;
    --lp-form-border-dark: #C7C7C7;
    --lp-gray-1: #F7F7F9;
    --lp-gray-2: #EAEAEC;
    --lp-gray-3: #BDBDBD;
    --lp-gray-4: #666668;
    --lp-lightest-blue: #EBF4FB;
    --lp-logo-blue: #12B3C7;
    --lp-logo-gray: #4C4948;
    --lp-warning: #CD7B00;
    --lp-white: #fff;
    --lp-yellow: #F9CA53; 
    --lp-dark-blue-2-hover: #19469C;
    --lp-yellow-hover: #F3D382;
}


/* Font setting */

.emphasize-yellow {
    color: var(--lp-warning);
    font-weight: 700;
    line-height: 175%;
}

.emphasize-blue {
    color: var(--lp-fixel-blue-dark-2);
    font-weight: 700;
    line-height: 175%;
}

.sp-only {
    display: block !important;
}

.pc-only {
    display: none !important;
}

h2 {
    color: var(--lp-black);
    /* Text/H2 Section Title_sp */
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: 0.9px;

    margin-top: 0;
    text-align: center;
}

h3 {
    color: var(--lp-black);
    /* Text/H3_sp */
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
}

h4 {
    color: var(--lp-fixel-blue-dark);
    /* Text/H4 Prcice_sp */
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;
}

h5, td {
    color: var(--lp-black);
    /* Text/DT_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.42px;
}

.section-subtitle, th {
    color: var(--lp-black);
    /* Text/DL_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.42px;
}

.register-detail, #section-explain-detail-essential {
    color: var(--lp-dark-blue-2);
    /* Text/Note_sp */
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: 0.36px;
    text-align: center;
    margin-top: 8px;
}

.case-title {
    color: var(--lp-fixel-blue-dark-2);
    /* Text/H3 Example_sp */
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.96px;
}

.price-detail-explain, .answer, #section-explain-detail {
    color: var(--lp-dark-blue-2);
    text-align: center;
    /* Text/P_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 24.5px */
    letter-spacing: 0.42px;
}

.corresponding-title {
    color: var(--lp-dark-blue-2);
    /* Text/Text18-14_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
}

.question {
    color: var(--lp-black);
    
    /* Text/P Bold_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%; /* 24.5px */
    letter-spacing: 0.42px;
}

.label{
    color: var(--lp-black, #222224);
    text-align: left;
    /* Text/Label_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
}

::placeholder {
    color: var(--lp-gray-3);

    /* Text/P_sp */
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 24.5px */
    letter-spacing: 0.42px;
}

/*CSS*/

header {
    position: fixed;
    width: 100%; 
    height: 48px; 
    background-color: var(--lp-white);
    z-index: 2;
}

.top-header {
    display: flex;
    height: 48px;
    padding-left: 16px;
    justify-content: space-between;
    align-items: center;
}

.head-logo {
    margin-top: 3px;
}

.head-inner {
    display: flex;
    align-items: center;
}

#btn-register-header {
    display: flex;
    color: var(--lp-white) !important;
    background: var(--lp-dark-blue-2);
    padding: 8px 4px 8px 12px;
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.52px;
    justify-content: center;
    align-items: center;
    text-decoration:none !important;
}

a#btn-register-header:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 0 0 5px;
    background: url("images/icon/keyboard_arrow_right.svg") no-repeat;
    background-size: contain;
    vertical-align: middle;
}
a#btn-register-header:hover {
    background: var(--lp-dark-blue-2-hover);
}

.first-view {
    padding: 72px 20px 32px 20px;
    background-color: var(--lp-fixel-blue-dark);
}

.first-view-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.first-view-subtitle {
    color: var(--lp-white);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
}

.first-view-title {
    color: var(--lp-white);
    font-family: Noto Sans JP;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
    margin-bottom: 8px;
}


.first-view-wrapper-image {
    height: 203.421px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/first-view/main-visual.svg);
    background-color: var(--lp-fixel-blue-dark);
}

.first-view-wrapper-circle {
    height: 80px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/first-view/Circle_Group.png);
    background-color: var(--lp-fixel-blue-dark);
    margin-bottom: 16px;
}

.contact-box {
    margin-top: 32px;
}

.contact-box#first-view-contact-box {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bubble-box {
    display: flex;
    justify-content: center;
}

.bubble {
    position:relative;
    display: flex;
    padding: 0 2px; 
    width:193px; 
    height:26px; 
    color: var(--lp-dark-blue-2); 
    border-radius: 42px; 
    background-color: var(--lp-white);
    border: 2px solid var(--lp-dark-blue-2);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%; /* 18px */
    letter-spacing: 0.36px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
}

.bubble#bubble-else {
    width:131px; 
}

.bubble:after {
    content:""; 
    position: absolute; 
    right: 100px; 
    top: 26px; 
    border-left: 3px solid transparent; 
    border-right: 3px solid transparent; 
    border-top: 6px solid var(--lp-dark-blue-2);
}


.bubble#bubble-else:after {
    right: 65px;
}

.comtact-btn {
    display: flex;
    justify-content: center;
}

.btn-register{
    display: flex;
    color: var(--lp-white) !important;
    background: var(--lp-dark-blue-2);
    padding: 8px 8px 8px 24px;
    height: 32px;
    width: 220px;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.42px;
    justify-content: center;
    align-items: center;
    text-decoration:none !important;
    border-radius: 5px;
}

a.btn-register:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 0 0 5px;
    background: url("images/icon/keyboard_arrow_right.svg") no-repeat;
    background-size: contain;
    vertical-align: middle;
}

a.btn-register:hover {
    background: var(--lp-dark-blue-2-hover);
}
#first-view-register-btn {
    color: var(--lp-dark-blue-2) !important;
    background: var(--lp-yellow);
}

a#first-view-register-btn:after {
    background: url("images/icon/keyboard_arrow_right_blue.svg") no-repeat;
}

a#first-view-register-btn:hover {
    background: var(--lp-yellow-hover);
}

#first-view-register-detail {
    color: var(--lp-white);
    /* Text/Text14-13_sp */
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 19.5px */
    letter-spacing: 0.39px;
}

.worries {
    display: flex;
    padding: 48px 16px 8px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background-color: var(--lp-gray-1);
}

.worry {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

.worries-examples {
    max-width: 343px;
    margin: 0 auto;
}

#problem2 {
    justify-content: left;
    flex-direction: row-reverse;
}

.problem-img {
    margin-top: 24px;
}

.problem-comment {
    margin-bottom: 33px;
}

.line {
    display: flex;
    justify-content: center;
}

.three-characteristic {
    background-color: var(--lp-gray-1);
    display: flex;
    padding: 48px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.section-explain {
    text-align: center;
}

.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.characteristic {
    display: flex;
    max-width: 415px;
    margin: 0 auto;
}

.characteristic-box {
    display: flex;
    align-items: center;
    margin-left: 2px;
    max-width: 300px;
}

.characteristic-title-detail {
    display: block;
}

.characteristic-detail {
    margin-top: 8px;
}

#characteristic2 {
    flex-direction: row-reverse;
}

.three-cases {
    display: flex;
    padding: 48px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.case-number-title {
    text-align: center;
}

.case-number {
    padding: 0;
    margin: 0;
}

.before, .after {
    display: flex;
    justify-content: center;
} 
.before {
    height: 306px;
    margin-top: 20px;
}

.after {
    margin-bottom: 24px;
}

.before-img-text, .after-img-text {
    margin-left: 16px;
    margin-top: 8px;
    width: 260px;
}

ul {
   padding-left: 0;
   margin-top: 4.7px;
   list-style-type: none;
}

.price-column {
    padding: 48px 16px;
    background-color: var(--lp-lightest-blue);
}

.price-column-box {
    display: flex;
    padding: 32px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.price {
    position: relative;
    margin: auto;
}

.price-number {
    position: absolute;
    top: -25px;
    right: 115px;
}

.price-detail {
    display: flex;
    padding: 0px 4px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.price-detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-image: linear-gradient(to bottom, var(--lp-fixel-blue-dark) 7%, var(--lp-white) 7%);
    padding: 48px 12px 12px 12px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
}

.corresponding {
    background-color: var(--lp-lightest-blue);
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
}

.corresponding-label {
    color: var(--lp-white);
    background-color: var(--lp-dark-blue-2);
    width: 54px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 0.39px;
}

.corresponding-cost-schedule {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.corresponding-cost, .corresponding-schedule {
    width: 104px;
}

.corresponding-cost-title, .corresponding-schedule-title {
    border-bottom: 1px dotted var(--lp-dark-blue-2);
    padding: 4px 8px;
    color: var(--lp-dark-blue-2);
    font-size: 13px;
    font-weight: 700;
    line-height: 150%; /* 19.5px */
    letter-spacing: 0.39px;
}

.corresponding-cost-price, .corresponding-schedule-time {
    padding: 8px 8px 4px 8px;
    color: var(--lp-dark-blue-2);
    font-size: 15px;
    font-weight: 700;
    line-height: 125%; /* 18.75px */
    letter-spacing: 0.6px;
}

.questions {
    display: flex;
    padding: 48px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.answer {
color: var(--lp-black);
text-align: left;
}

.faq-box {
width: 100%;
max-width: 343px;
margin: 0 auto;
position: relative;
z-index: 0;
border-bottom: 1px solid var(--lp-border);
}

.faq-box > dl > dt {
background-color: #fff;
display: flex;
align-items: center;
position: relative;
}

.faq-box > dl > dt .crossBar {
position: absolute;
top: -2px;
right: 20px;
transform: translateY(-50%);
}
.faq-box > dl > dt .crossBar::before {
content: url(images/icon/plus.svg);
display: inline-block;
position: absolute;
top: 0;
transform-origin: center center; /* 中心を基準にtransform */
transform: translateX(-50%) rotate(0deg);
transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.faq-box > dl > dt .crossBar::after {
content: "";
display: inline-block;
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.faq-box > dl > dt > span {
    margin-right: 16px;
}

.faq-box > dl > dd {
margin: 0;
background-color: #fff;
display: flex;
align-items: center;
width: 300px;
margin-bottom: 16px;
padding: 0px 0px; /* paddingの上下を0にする */
max-height: 0; /* max-heightを0にする、レスポンシブ対応 */
overflow: hidden;  /* overflow: hidden;を付けるのがポイント */
transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.faq-box > dl > dd > span {
margin-right: 16px;
}

/* アニメーション後のスタイル */
.faq-box > dl > dd.is-open { /* heightとpaddingをアニメーション */
max-height: 200px;
max-width: 300px;
padding: 10px 0px;
}
/* ＋ボタンのアニメーション */
.faq-box > dl > dt.is-open .crossBar::before {
transform: translateX(-50%) rotate(45deg);  /* 90度回転 */
}

.request {
    background-color: var(--lp-gray-1);
    padding: 48px 16px;
}

.request-box-border {
    border: 1px solid var(--lp-gray-2);
    border-radius: 8px;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.request-title-explain{
    min-width: 298px;
    max-width: 403px;
    margin: auto;
}
#section-explain-detail{
    margin: 0 auto;
    margin-top: 8px;
    color: var(--lp-black);
    text-align: left;
}

#section-explain-detail-essential {
    color: var(--lp-black);
    margin: 0;
    text-align: right;
}

.essential {
    color: var(--lp-error);
}

.form {
    margin: 0 auto;
    width: 330px;
}

.form-box {
    margin-bottom: 24px;
}

.form-text {
    width: 287px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--lp-border);
    background: var(--lp-white);
    margin-top: 4px;
}

.form-text2 {
    height: 120px;
    width: 287px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--lp-form-border-dark);
    background: var(--lp-white);
}

.checkbox-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 8px;
}

.error-message {
    font-size: 12px;
    color: var(--lp-error);
    display: none;
}


input:invalid {
    border: solid 1px var(--lp-error);
}

input:invalid + .error-message  {
    display: block;
}

#agree {
    text-align: center;
    color: var(--lp-black, #222224);
    font-size: 12px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.48px;
    margin-bottom: 8px;
}

#privacy-policy {
    max-width: 772px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    gap: 56px;
    border-radius: 16px;
}

.popup {
    padding: 40px 64px 24px 64px;
}

.content {
    text-align: left;
}

#close-btn {
    background-color: var(--lp-white);
    border: solid 1px var(--lp-black);
    border-radius: 8px;
    width: 152px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.Fixel-page {
    background: var(--lp-fixel-blue-dark-2);
    display: flex;
    padding: 48px 16px 64px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 12px;
}
th, td {
    color: var(--lp-white);
}

th {
    text-align: right;
    display: table-cell;
    width: 106px;
}

footer {
    background-color: var(--lp-fixel-blue-dark-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 12px 16px; 
}

#Fixel {
    color: var(--lp-white);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%; /* 24.5px */
    letter-spacing: 0.42px;
}
@media screen and (min-width: 960px) {
    .sp-only {
        display: none !important;
    }

    .pc-only {
        display: block !important;
    }


    /* Font setting */

    .emphasize-yellow {
        color: var(--lp-warning);
        font-weight: 700;
        line-height: 175%;
    }
    
    .emphasize-blue {
        color: var(--lp-fixel-blue-dark-2);
        font-weight: 700;
        line-height: 175%;
    }
    
    h2 {
        color: var(--lp-black);
        /* Text/H2 Section Title */
        font-family: Noto Sans JP;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 45px */
        letter-spacing: 1.5px;
    
        margin-top: 0;
        text-align: center;
    }
    
    h3 {
        color: var(--lp-black);
        /* Text/H3 */
        font-family: Noto Sans JP;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */
        letter-spacing: 0.6px;
    }
    
    h4 {
        color: var(--lp-fixel-blue-dark);
        /* Text/H4 Prcice */
        font-family: Noto Sans JP;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        letter-spacing: 0.96px;
    }
    
    h5, td {
        color: var(--lp-black);
        /* Text/DT */
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: 0.48px;
    }
    
    .section-subtitle, th {
        color: var(--lp-black);
        /* Text/DL */
        font-family: Noto Sans JP;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 25.5px */
        letter-spacing: 0.51px;
    }
    
    .register-detail, #section-explain-detail-essential {
        color: var(--lp-dark-blue-2);
        /* Text/Note */
        font-family: Noto Sans JP;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 19.5px */
        letter-spacing: 0.39px;
        text-align: center;
        margin-top: 8px;
    }
    
    .case-title {
        color: var(--lp-fixel-blue-dark-2);
        /* Text/H3 Example */
        font-family: Noto Sans JP;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 45px */
        letter-spacing: 1.8px;
    }
    
    .price-detail-explain, .answer, #section-explain-detail {
        color: var(--lp-dark-blue-2);
        text-align: center;
        /* Text/P */
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%; /* 28px */
        letter-spacing: 0.48px;
    }
    
    .corresponding-title {
        color: var(--lp-dark-blue-2);
        /* Text/Text18-14 */
        font-family: Noto Sans JP;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 0.72px;
    }
    
    .question {
        color: var(--lp-black);
        /* Text/P Bold */
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 175%; /* 28px */
        letter-spacing: 0.48px;
    }
    
    .label{
        color: var(--lp-black);
        text-align: left;
        /* Text/Label */
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
    }
    
    ::placeholder {
        color: var(--lp-gray-3);
        /* Text/P */
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%; /* 28px */
        letter-spacing: 0.48px;
    }

    /* CSS */
    
    header {
        height: 80px;
    }

    .top-header {
        height: 80px;
        padding-left: 48px;
    }
    
    #btn-register-header {
        padding: 8px;
        height: 64px;
        font-size: 18px;
        letter-spacing: 0.72px;
    }
    
    a#btn-register-header:after {
        width: 32px;
        height: 32px;
        background: url("images/icon/keyboard_arrow_right_pc.svg") no-repeat;
    }
    
    .first-view {
        padding: auto;
        padding-top: 80px;
    }

    .first-view-page {
        max-width: 1250px;
        height: 650px;
        margin: auto;
    }

    .first-view-text {
        width: 1240px;
        height: 465px;
        padding-top: 80px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }
    
    .first-view-subtitle {
        color: var(--lp-white);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
    }
    
    .first-view-title {
        font-size: 52px;
        letter-spacing: 2.08px;
        margin-bottom: 8px;
    }
    
    
    .first-view-wrapper-image {
        width: 657.096px;
        height: 493.442px;
        position: relative;
        left: 576px;
        bottom: 401px;
        z-index: 0;
        background-image: url(images/first-view/main-visual.svg);
        background-color: var(--lp-fixel-blue-dark);
    }
    
    .first-view-wrapper-circle {
        width: 424px;
        height: 130px;
        position: relative;
        left: 20px;
        bottom: 746px;
        z-index: 0;
        background-image: url(images/first-view/Circle_Group2.png);
        background-color: var(--lp-fixel-blue-dark);
        margin-bottom: 16px;
    }
    
    .contact-box {
        margin-top: 32px;
    }
    
    .contact-box#first-view-contact-box {
        position: relative;
        right: 392px;
        bottom: 727px;
        padding-bottom: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .bubble-box {
        display: flex;
        justify-content: center;
    }
    
    .bubble {
        position:relative;
        display: flex;
        padding: 12px 32px; 
        width: 202px; 
        height:21px; 
        border: 4px solid var(--lp-dark-blue-2);
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.42px;
        margin-bottom: 11px;
    }
    
    .bubble#bubble-else {
        width: 117px; 
    }
    
    
    .bubble:after {
        right: 132px; 
        top: 48px; 
        border-left: 6px solid transparent; 
        border-right: 6px solid transparent; 
        border-top: 8px solid var(--lp-dark-blue-2);
    }
    
    .bubble#bubble-else:after {
        right: 84px;
    }
    
    .comtact-btn {
        display: flex;
        justify-content: center;
    }
    
    .btn-register{
        width: 416px;
        height: 48px;
        font-size: 18px;
        letter-spacing: 0.54px;
    }
    
    a.btn-register:after {
        background: url("images/icon/keyboard_arrow_right_pc.svg") no-repeat;
    }
    
    a#first-view-register-btn:after {
        background: url("images/icon/keyboard_arrow_right_blue_pc.svg") no-repeat;
    }
    
    #first-view-register-detail {
        color: var(--lp-white);
        /* Text/Text14-13 */
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.42px;
    }
    
    .worries {
        display: flex;
        padding: 120px 340px 16px 340px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
    
    .worry {
        display: flex;
        width: 319px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    }

    
    .worries-examples {
        display: flex;
        width: 1240px;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }
    
    #problem2 {
        flex-direction: column-reverse;
        justify-content: right;
    }
    
    .problem-img {
        margin-top: 24px;
        width: 240px;
        height: 240px;
    }
    
    .problem-comment {
        margin-bottom: 33px;
        width: 264px;
        height: 138px;
    }
    
    .three-characteristic {
        padding: 80px 340px 120px 340px;
        gap: 48px;
    }

    .section-text {
        gap: 24px;
    }
    
    .three-characteristic-box {
        display: flex;
        justify-content: center;
    }

    .characteristic-img {
        width: 240px;
        height: 436px;
    }
    .characteristic {
        display: flex;
        padding: 0px 8px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        width: 400px;
    }
    
    .characteristic-box {
        display: flex;
        align-items: center;
        margin-left: 2px;
        max-width: 300px;
    }
    
    .characteristic-title-detail {
        display: block;
    }
    
    .characteristic-detail {
        margin-top: 8px;
    }
    
    #characteristic2 {
        flex-direction: column;
    }
    
    .three-cases {
        padding: 120px 340px;
        gap: 48px;
    }
    
    .case-number-title {
        text-align: center;
    }

    .case-number {
        width: 90px;
        height: 90px;
    }

    .before-after {
        display: flex;
        justify-content: center;
    }
    
    .before, .after {
        display: flex;
        flex-direction: column;
        justify-content: start;
    } 
    .before {
        width: 620px;
        margin-top: 0px;
    }
    
    .after {
        margin-bottom: 40px;
    }
    
    .before-img-text, .after-img-text {
        margin-left: 16px;
        margin-top: 28px;
        width: 530px;
    }

    .case-text {
        margin: 0 auto;
        display: flex;
        width: 300px;
        padding: 0px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-top: 28px;
    }
    
    ul {
       padding-left: 0;
       margin-top: 4.7px;
       list-style-type: none;
    }
    
    .price-column {
        display: flex;
        padding: 120px 110px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        align-self: stretch;
    }
    
    .price-column-box {
        display: flex;
        width: 1240px;
        padding-top: 27px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .price {
        position: relative;
        margin: auto;
    }
    
    .price-number {
        right: 152px;
    }
    
    .price-detail {
        display: flex;
        padding: 0px 4px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    
    .price-detail-box {
        gap: 32px;
        padding: 55px 12px 12px 12px;
    }
    
    .corresponding {
        gap: 16px;
    }
    
    .corresponding-label {
        width: 58px;
        padding: 4px 16px;
        font-size: 14px;
        letter-spacing: 0.42px;
    }
    
    .corresponding-cost-schedule {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    
    .corresponding-cost, .corresponding-schedule {
        width: 143px;
    }
    
    .corresponding-cost-title, .corresponding-schedule-title {
        font-size: 14px;
        letter-spacing: 0.42px;
    }
    
    .corresponding-cost-price, .corresponding-schedule-time {
        padding: 8px 8px 4px 8px;
        color: var(--lp-dark-blue-2);
        font-size: 15px;
        font-weight: 700;
        line-height: 125%; /* 18.75px */
        letter-spacing: 0.6px;
    }
    
    .questions {
        padding: 120px 340px;
        gap: 48px;
    }

    .answer {
        color: var(--lp-black);
        text-align: left;
    }

    .faq-box {
        max-width: 960px;
    }
    
    .faq-box > dl > dt {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    }
    
    .faq-box > dl > dt > span {
        margin-right: 16px;
    }
    
    .faq-box > dl > dd {
    width: 880px;
    }
    
    .faq-box > dl > dd > span {
    margin-right: 32px;
    }
    
    /* アニメーション後のスタイル */
    .faq-box > dl > dd.is-open { /* heightとpaddingをアニメーション */
    max-width: 880px;
    }
    
    .request {
        padding: 120px 340px;
        display: flex;
        justify-content: center;
    }
    
    .request-box-border {
        border-radius: 16px;
        padding: 64px 140px;
        gap: 24px;
        min-width: 700px;
        
    }
    
    .request-title-explain{
        min-width: 460px;
        max-width: 461px;
    }
    #section-explain-detail{
        margin: 0 auto;
        margin-top: 8px;
        color: var(--lp-black);
        text-align: left;
    }
    
    #section-explain-detail-essential {
        color: var(--lp-black);
        margin: 0;
        text-align: right;
    }
    
    
    .form {
        width: 600px;
        min-width: 500px;
    }

    .form-box {
        min-width: 500px;
    }
    
    .form-text {
        width: 100%;
        height: 44px;
        padding: 0 12px;
        border-radius: 4px;
        margin-top: 8px;
    }
    
    .form-text2 {
        height: 120px;
        width: 600px;
    }
    
    #agree {
        font-size: 13px;
        letter-spacing: 0.52px;
        margin-bottom: 8px;
    }
    
    .Fixel-page {
        padding: 120px 340px;
        gap: 48px;
    }
    
    table {
        border-spacing: 32px;
    }
    th, td {
        color: var(--lp-white);
    }
    
    th {
        width: 240px;
        text-align: left;
    }
    
    footer {
        height: 72px;
        padding: 12px 16px; 
    }
    
    #Fixel {
        font-size: 16px;
        letter-spacing: 0.48px;
    }
}